<a class="navbar-brand" href="#">
  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  The Gossip Project
  <%= link_to "team", team_path %>
</a>
</nav>
<h1>Contacts</h1>
<p>Pour toute question veuillez contacter le 01XXXXXXX</p>
