<a class="navbar-brand" href="#">
  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  The Gossip Project
  <%= link_to "Contact", contact_path %>
</a>
</nav>
<h1>Hello! voici la team<h1>
<p>Fatou et Jérémy, team de ouf!<p>
