<a class="navbar-brand" href="#">
  <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  The Gossip Project
  <%= link_to "team", team_path %>
  <%= link_to "contact", contact_path %>
</a>
</nav>
<h1>BIENVENUE <%= @first_name %> ! Ici c'est notre super site de potins, il est chouette, non ?</h1>
